.page-header {
  text-align: center;
}

#home {
  margin-left: 46%;
  margin-bottom: 2%;
}

li {
  margin-bottom: 2%;
  list-style: none;
}

.stylist-client-name {
  font-size: 1.25em;
}

.delete {
  margin-top: 2%;
}
