<h3>Are you sure you want to delete $stylist.getName()'s client $client.getName()?</h3>
<form action="/$stylist.getName()/$stylist.getId()/$client.getName()/$client.getId()/delete" method="post">
  <button type="submit" class="btn btn-danger">Yes</button>
</form>
<a href="/$stylist.getName()/$stylist.getId()/$client.getName()/$client.getId()/edit" class="btn btn-success">No</a>
